<% provide(:title, @book.title ) %>
<div class="col-md-1">

</div>
<div class="col-md-10 withoutPad">
   
    <div class="center">
        <h3><strong><%= @book.title %></strong></h3>
        <h4><%= @book.category.name %></h4>
        <h3>State: </h3> <p> <%= @book.status %></p> 
    </div>
    <% if @book.finished? %>
        <div id="fechas-info-book">
            <h3>Started at: </h3>
            <p> <%= @book.created_at.strftime("%d-%B-%y at %I:%M%p") %> </p>
            <h3>Finished at: </h3>
            <p> <%= @book.updated_at.strftime("%d-%B-%y at %I:%M%p") %> </p>
            <h3>Reading time: </h3>
            <p> <%= @book.time_reading(@book.started_at, @book.finished_at) %> days </p>
        </div>
    <% else %>
        <div id="fechas-info-book">
            <h3>Started at: </h3>
            <p> <%= @book.created_at.strftime("%d-%B-%y at %I:%M%p") %> </p>
            <h3>Timing: </h3>
            <p> <%= @book.time_reading(@book.started_at) %> days </p>
        </div>
    <% end %>
    
    
    <div id="author-info-book">
        <h3>Author: </h3> <p><%= @book.author %></p> 
    </div>
</div>
<div class="col-md-1">

</div>