<header id="header" class="navbar navbar-fixed-top navcontent">

      <div class="container">
       
      <div class="row">

      <div class="col-md-1">
      </div>

        <div class="col-md-10">
          
          <nav id="mynavwithoutdefaultclass" class="navbar navbar-default navbar-light bg-light">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>              
              </button>
              <%= link_to "Bibliodarium", root_path, id: "logo" %>
            </div>
            
            <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class="navbar-nav navbar-right nav">
              <li><%= link_to "Home", root_path %></li>
                <% if logged_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Log out", logout_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Log in", login_path %></li>
                <% end %>
            </ul>
            </div>
          </nav>
        </div>
        
        <div class="col-md-1">
        </div>
       </div>
      
       </div>
</header>